## Data Science Tools and Ecosystem
    welcome to Data Science Tools and Ecosystem that will make you fun.

## Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Java
4. SQL

## Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Matplotlib
3. Seaborn
4. SciPy

## Data Science Tools

| Data Science Tools |
| -------------|
| MySQL |
| mongoDB |
| Jupyter |
| RStudio |

## Below are a few examples of evaluating arithmetic expressions in Python.

In [8]:
# This is a simple arithmetic expression to multiply then add integers
(3*4)+5

17

In [9]:
# This will convert 200 minutes to hours by dividing by 60
200/60

3.3333333333333335

**Objectives:**
- Learn Python, R and SQL.
- Use MySQL in the case.
- Learn many type of data.
- Use GitHub to share your resources.

## Author
 Vacharut Petchrat